table.checkout_protocol_table td { padding-right: 6px; vertical-align: middle; /* Double the border with of text input boxes */ }
table.checkout_protocol_table td input[type=text], .checkout_protocol_table td select { width: 100%; }
table.checkout_protocol_table td.protocol_delete { width: 16px; }
table.checkout_protocol_table td.protocol_append_path, table.checkout_protocol_table td.protocol_is_default { text-align: center; }

.icon-changeset { background-image: url(../../../images/changeset.png);}

.repository-info {
  background-color: #eee;
  border: 1px solid #E4E4E4;
  padding: 0 10px;
  margin: 4px 0 10px;
}

.bottomline {
  border-bottom: 1px solid #ccc;
}

#checkout_box {
  margin: 10px 0;
}

#checkout_protocols {
  height: 23px;
  float: left;
  margin: 0;
  padding: 0;
}

#checkout_protocols li {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#checkout_protocols li:first-child a {
  border-left-width: 1px;
  
  /* Standard, Opera 10, IE 9 */
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  /* Konquerer */
  -khtml-border-top-left-radius: 3px;
  -khtml-border-bottom-left-radius: 3px;
  /* Gecko (Firefox, ...) */
  -moz-border-radius: 3px 0 0 3px;
  /* Webkit (Chrome, Safari, ...) */
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  /* IE <= 9 not supported */
}

#checkout_protocols li a,
#clipboard_button {
  background-color: #eee;
  background:  url(../images/button.svg) 0 0 repeat; /* Opera  needs an "image" :( - using svg for this so it will scale properly without looking too ugly */
  background: -khtml-gradient(linear, left top, left bottom, from(#f8f8f8), to(#ddd)); /* Konquerer */
  background: -moz-linear-gradient(top,  #f8f8f8,  #ddd); /* Gecko (Firefox, ...) */
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#ddd));   /* Webkit (Chrome, Safari, ...) */
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#dddddd'); /* IE 5.5 - 7 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#dddddd'); /* IE 8 */
  
  border-color: #bbb;
  border-style: solid;
  border-width: 1px 1px 1px 0;
  
  color: #333;
  display: block;
  font-size: 11px;
  font-weight: bold;
  line-height: 21px;
  margin: 0;
  padding: 0 10px 0 11px;
  text-decoration: none;
  text-shadow: 1px 1px 0 #fff;
  position: relative; /* to please IE */
}

#checkout_protocols li a:hover,
#checkout_protocols li a:focus {
  background-color: #507AAA;
  background:  url(../images/button_focus.svg) 0 0 repeat; /* Opera  needs an "image" :( - using svg for this so it will scale properly without looking too ugly */
  background: -khtml-gradient(linear, left top, left bottom, from(#759fcf), to(#507AAA)); /* Konquerer */
  background: -moz-linear-gradient(top,  #759fcf,  #507AAA); /* Gecko (Firefox, ...) */
  background: -webkit-gradient(linear, left top, left bottom, from(#759fcf), to(#507AAA)); /* Webkit (Chrome, Safari, ...) */
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#759fcf', endColorstr='#507AAA'); /* IE 5.5 - IE 7 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#759fcf', endColorstr='#507AAA'); /* IE 8 */
  
  color: #fff;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.4);
  border-top-color: #759fcf;
  border-bottom-color: #507AAA;
}

#checkout_protocols li a.selected,
#clipboard_button.active {
  background-color: #bbb;
  background:  url(../images/button_selected.svg) 0 0 repeat; /* Opera  needs an "image" :( - using svg for this so it will scale properly without looking too ugly */
  background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#aaa));  /* Konquerer */
  background: -moz-linear-gradient(top,  #ccc,  #aaa); /* Gecko (Firefox, ...) */
  background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#aaa));  /* Webkit (Chrome, Safari, ...) */
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#aaaaaa'); /* IE 5.5 - IE 7 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#aaaaaa'); /* IE 8 */
  
  color: #000;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.4);
  border-color: #bbb;
}

#checkout_url {
  border: 1px solid #bbb;
  border-width: 1px 1px 1px 0;
  background-color: #fff;
  color: #000;
  font-size: 11px;
  height: 16px;
  padding: 3px 5px 2px;
  width: 400px;
  font-family: Monaco,"DejaVu Sans Mono","Bitstream Vera Sans Mono","Courier New",monospace;
  margin: 0 5px 0 0;
  float: left;
}

#checkout_box p {
  color: #666;
  line-height: 23px;
  font-size: 11px;
  margin: 0 0 0 5px;
}

span#checkout_access {
  font-weight: bold;
}

#clipboard_container {
  position: relative;
  float: left;
  margin-right: 5px;
}

#clipboard_button {
  height: 21px;
  width: 23px;
  padding: 0;
  border-width: 1px;
  text-align: center;
  
  border-radius: 5px; /* Standard, Opera 10, IE 9 */
  -khtml-border-radius: 3px; /* Konquerer */
  -moz-border-radius: 3px ; /* Gecko (Firefox, ...) */
  -webkit-border-radius: 3px; /* Webkit (Chrome, Safari, ...) */
  /* IE <= 9 not supported */
}

#clipboard_button img {
  padding-top: 2px;
}