<p><%= setting_select :checkout_display_login,[
          [l(:label_display_login_username), 'username'],
          [l(:label_display_login_password), 'password']
        ],
        :blank => :label_display_login_none %></p>